<div class="dashboard">
  <div class="d-flex flex-wrap flex-xxl-nowrap">
    <div class="left-col">
      <div
        style="
          display: flex;
          justify-content: space-between;
          margin-bottom: 20px;
        "
      >
        <div style="display: flex; justify-content: flex-start">
          <div>
            Customer Id:
            <span style="font-weight: bold">{{ this._api.adminSearchedCustomer }} </span>
          </div>
          <!-- <div style="margin-left: 10px; color: green;">
            Consumed Energy:
            <span style="font-weight: bold">{{ this.user.totalConsumedEnergy }} KWh </span>
          </div>
          <div style="margin-left: 10px; color: red;">
            Total Cost:
            <span style="font-weight: bold">{{ this.user.totalCost }} ₾ </span>
          </div> -->
        </div>
        <div
          style="display: flex; justify-content: space-between; width: 165px"
        >
          <!-- <div style="display: inline-block">Power Mode:</div>
          <label
            data-toggle="modal"
            data-target="#exampleModal"
            class="toggle-switch"
            style="cursor: pointer"
          >
            <input
              id="tog1"
              type="checkbox"
              [checked]="isToggleChecked"
              style="margin-left: 10px"
            />
            <span class="slider"></span>
          </label> -->
        </div>
      </div>

      <div class="dropdown">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          style="width: 150px"
        >
          {{ selectedOption }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a
            class="dropdown-item"
            href="#"
            (click)="
              selectOption('Last 30 Minutes');
              send(
                this.serviceParams[this.selectedOption].timeType,
                this.serviceParams[this.selectedOption].time
              )
            "
            >Last 30 Minutes</a
          >
          <a
            class="dropdown-item"
            href="#"
            (click)="
              selectOption('Last 1 Hour');
              send(
                this.serviceParams[this.selectedOption].timeType,
                this.serviceParams[this.selectedOption].time
              )
            "
            >Last 1 Hour</a
          >
          <a
            class="dropdown-item"
            href="#"
            (click)="
              selectOption('Last 3 Hours');
              send(
                this.serviceParams[this.selectedOption].timeType,
                this.serviceParams[this.selectedOption].time
              )
            "
            >Last 3 Hours</a
          >
          <a
            class="dropdown-item"
            href="#"
            (click)="
              selectOption('Last 6 Hours');
              send(
                this.serviceParams[this.selectedOption].timeType,
                this.serviceParams[this.selectedOption].time
              )
            "
            >Last 6 Hours</a
          >
          <a
            class="dropdown-item"
            href="#"
            (click)="
              selectOption('Last 12 Hours');
              send(
                this.serviceParams[this.selectedOption].timeType,
                this.serviceParams[this.selectedOption].time
              )
            "
            >Last 12 Hours</a
          >
          <a
            class="dropdown-item"
            href="#"
            (click)="
              selectOption('Last 24 Hours');
              send(
                this.serviceParams[this.selectedOption].timeType,
                this.serviceParams[this.selectedOption].time
              )
            "
            >Last 24 Hours</a
          >
        </div>
        <!-- <button type="button" style="margin-left: 20px;" class="btn btn-primary" (click)="send(this.serviceParams[this.selectedOption].timeType, this.serviceParams[this.selectedOption].time)">Send</button> -->
      </div>

      <div class="main-div">
        <div class="child-1">
          <p>Voltage: {{this.lineChartCon1?.slice(-1)?.[0]?.toFixed(1)}} V</p>
          <canvas id="MyLineChart1">{{ lineChart1 }}</canvas>
        </div>
        <div class="child-2">
          <p>Current: {{this.lineChartCon2?.slice(-1)?.[0]?.toFixed(3)}} A</p>
          <canvas id="MyLineChart2">{{ lineChart2 }}</canvas>
        </div>
        <div class="child-3">
          <p>Power: {{this.lineChartCon3?.slice(-1)?.[0]?.toFixed(1)}} W</p>
          <canvas id="MyLineChart3">{{ lineChart3 }}</canvas>
        </div>
        <div class="child-4">
          <p>Energy: {{this.lineChartCon4?.slice(-1)?.[0]?.toFixed(2)}} KWh</p>
          <canvas id="MyLineChart4">{{ lineChart4 }}</canvas>
        </div>
        <div class="child-5">
          <p>
            Power Factor: {{this.lineChartCon5?.slice(-1)?.[0]?.toFixed(2)}}
          </p>
          <canvas id="MyLineChart5">{{ lineChart5 }}</canvas>
        </div>
        <div class="child-6">
          <p>
            Frequency: {{this.lineChartCon6?.slice(-1)?.[0]?.toFixed(1)}} Hz
          </p>
          <canvas id="MyLineChart6">{{ lineChart6 }}</canvas>
        </div>
      </div>
      <app-funds-overview></app-funds-overview>
      <app-yourcards></app-yourcards>
    </div>
    <!-- <div class="right-col">
      <div class="w-100" style="background-color: red">
        <app-transaction></app-transaction>
      </div>
    </div> -->
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Smart Power Meter</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ this.modalText }} Do you want to continue?
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-success"
          data-dismiss="modal"
          (click)="clicked()"
        >
          Yes
        </button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          No
        </button>
      </div>
    </div>
  </div>
</div>
