<div class="dashboard">
  <div class="d-flex flex-wrap flex-xxl-nowrap">
    <div class="left-col">

      <div style="display: flex; justify-content: right; margin-bottom: 20px">
        <div style="display: inline-block; margin-right: 10px">Power Mode:</div>
        <label
          class="toggle-switch"
          (click)="clicked()"
          style="cursor: pointer"
        >
          <input
            id="tog1"
            type="checkbox"
            [checked]="isToggleChecked"
            style="margin-left: 10px"
          />
          <span class="slider"></span>
        </label>
      </div>
      
      <app-funds-overview></app-funds-overview>
      <app-yourcards></app-yourcards>
    </div>
    <div class="right-col">
      <div class="w-100" style="background-color: red">
        <app-transaction></app-transaction>
      </div>
    </div>
  </div>
</div>
