<div id="Register-main">
    <div id="image-left">
        <!-- <img src="../../../assets/images/auth/new_tbc.jpg" /> -->
    </div>
    <form class="formGroup" [formGroup]="form" (submit)="onSubmit()">
        <p class="header-text">
            <span class="tbc">Smart</span>&nbsp;<span class="banking">Power Meter</span>
        </p>
        <div class="name_of_action">
            <p class="signin-header">Recover Password</p>
            <p class="signin-text">
                To recover your password, you must enter registered Email and you
                will receive temporary password<br /> 
            </p>
        </div>
        
        <div class="user-input" style="margin-top: 15px; " >
            <app-input-field (keyup)="removeMessage()" [label]="'Your email'" [inputClass]="input_class" [formGroup]="form" [inputClass]="''">
                <input formControlName="email" id="email" type="email" #asd placeholder="Enter your email" [disabled]="false" />
            </app-input-field>
        </div>

        

        <p class="error-message" id="password-error" style="margin-top: 10px; color: red; display: none;">Incorrect Password or Email. Please try again.</p>
        
        <p id="emailSent" style="color: green; display: none;">Email Sent</p>
        <p id="emailNotSent"  style="color: red; display: none;">Email Can Not Be Sent</p>
        <div class="user-submit" style="margin-top: 10px;">
            <label for="submit"></label>
            <app-button [btnClass]="'primary'" [btnHeight]="'46px'" [btnWidth]="'360px'" id="submit" type="submit" [isDisable]="valid" [text]="'SEND CONFIRMATION'"></app-button>
        </div>

        <!-- <footer class="last-part">
            <span class="signup-text">Don’t have an account?</span>&nbsp;
            <a routerLink="/sign-up" class="signup p-link">Sign up here</a>
        </footer> -->
        <footer class="last-part">
            <span class="signup-text">If you Have Account then</span>&nbsp;
            <a routerLink="/sign-in" class="signup p-link">Sign In here</a>
        </footer>
    </form>
</div>